@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
:root {
  --primary-color: #b1de36;
  --primary-color-rgb: 177, 222, 54;
  --secondary-color: #2b4823;
  --secondary-color-rgb: 43, 72, 35;
  --tertiary-color: #cfe7b4;
  --tertiary-color-rgb: 207, 231, 180;
  --black: #252326;
  --black-rgb: 37, 35, 38;
  --medium-gray: #6a6972;
  --light-gray: #c1c1c6;
  --white: #f4f4f9;
  --primary-font: "Source Sans Pro", sans-serif;
}
/* Bootstrap Overrides */
.btn {
  line-height: 1.5rem;
  font-weight: 600;
}
.btn-default {
  background-color: var(--black);
  color: var(--white);
  border: 0;
  border-radius: 5px;
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--tertiary-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

/* Begin styles */
html {
  font-size: 16px;
}
body {
  font-family: var(--primary-font);
  color: var(--black);
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(var(--primary-color-rgb), 0) 20%,
      rgba(var(--primary-color-rgb), 0.1) 20%,
      rgba(var(--primary-color-rgb), 0.1) 40%,
      rgba(var(--primary-color-rgb), 0.2) 40%,
      rgba(var(--primary-color-rgb), 0.2) 60%,
      rgba(var(--primary-color-rgb), 0.4) 60%,
      rgba(var(--primary-color-rgb), 0.4) 80%,
      rgba(var(--primary-color-rgb), 0.5) 80%
    ),
    linear-gradient(
      45deg,
      rgba(var(--secondary-color-rgb), 0.3) 20%,
      rgba(var(--secondary-color-rgb), 0.4) 20%,
      rgba(var(--secondary-color-rgb), 0.4) 40%,
      rgba(var(--secondary-color-rgb), 0.5) 40%,
      rgba(var(--secondary-color-rgb), 0.5) 60%,
      rgba(var(--secondary-color-rgb), 0.6) 60%,
      rgba(var(--secondary-color-rgb), 0.6) 80%,
      rgba(var(--secondary-color-rgb), 0.7) 80%
    ),
    linear-gradient(
      -45deg,
      rgba(var(--tertiary-color-rgb), 0) 20%,
      rgba(var(--tertiary-color-rgb), 0.1) 20%,
      rgba(var(--tertiary-color-rgb), 0.1) 40%,
      rgba(var(--tertiary-color-rgb), 0.2) 40%,
      rgba(var(--tertiary-color-rgb), 0.2) 60%,
      rgba(var(--tertiary-color-rgb), 0.4) 60%,
      rgba(var(--tertiary-color-rgb), 0.4) 80%,
      rgba(var(--tertiary-color-rgb), 0.6) 80%
    ),
    linear-gradient(
      90deg,
      rgba(var(--black-rgb), 0) 20%,
      rgba(var(--black-rgb), 0.3) 20%,
      rgba(var(--black-rgb), 0.3) 40%,
      rgba(var(--black-rgb), 0.5) 40%,
      rgba(var(--black-rgb), 0.5) 60%,
      rgba(var(--black-rgb), 0.7) 60%,
      rgba(var(--black-rgb), 0.7) 80%,
      rgba(var(--black-rgb), 0.8) 80%
    ),
    linear-gradient(
      -90deg,
      rgba(var(--primary-color-rgb), 0) 20%,
      rgba(var(--primary-color-rgb), 0.4) 20%,
      rgba(var(--primary-color-rgb), 0.4) 40%,
      rgba(var(--primary-color-rgb), 0.5) 40%,
      rgba(var(--primary-color-rgb), 0.5) 60%,
      rgba(var(--primary-color-rgb), 0.6) 60%,
      rgba(var(--primary-color-rgb), 0.6) 80%,
      rgba(var(--primary-color-rgb), 0.8) 80%
    ),
    linear-gradient(
      180deg,
      rgba(var(--secondary-color-rgb), 0) 20%,
      rgba(var(--secondary-color-rgb), 0.4) 20%,
      rgba(var(--secondary-color-rgb), 0.4) 40%,
      rgba(var(--secondary-color-rgb), 0.6) 40%,
      rgba(var(--secondary-color-rgb), 0.6) 60%,
      rgba(var(--secondary-color-rgb), 0.8) 60%,
      rgba(var(--secondary-color-rgb), 0.8) 80%,
      rgba(var(--secondary-color-rgb), 0.9) 80%
    );
  background-color: rgb(var(--primary-color-rgb));
  background-size: 100% 100%;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 400;
  border-bottom: 1px solid var(--tertiary-color);
}
a:hover {
  color: var(--primary-color);
}
ul {
  margin-bottom: 0;
}
main {
  background-color: var(--white);
  max-width: 90vw;
  min-height: 100vh;
  box-shadow: 0 0 4px rgba(var(--black-rgb), 0.5);
}
nav {
  background-color: var(--black);
  color: var(--white);
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-left: 1rem;
}
nav ul li a {
  color: var(--white);
  border-color: var(--white);
}
nav ul li a:hover {
  color: var(--light-gray);
  border-color: var(--light-gray);
}
.flex-break {
  flex-basis: 100%;
  height: 0;
}

/* App */
#app {
  position: relative;
  padding-top: calc(56.25% / 2);
  padding-bottom: calc(56.25% / 2);
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

/* Form */
#form_1 {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  background-image: url(img/hero-1.jpg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#form_1 input[name="zip"] {
  flex: 0 0 200px;
  margin: 0 auto;
  height: 40px;
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  text-align: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#form_1 input[name="zip"]::placeholder {
  text-align: center;
  color: var(--medium-gray);
}
#form_1 input[type="button"] {
  flex: 0 0 200px;
  margin: 0 auto;
  height: 40px;
  line-height: 20px;
  position: relative;
  top: -2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#form_1 #form_error {
  flex: 0 1 200px;
  color: orangered;
  background-color: var(--white);
  padding: 2px 0;
  text-align: center;
  position: relative;
  top: 62px;
  font-size: 0.9rem;
  font-weight: 600;
}
#map {
  height: 400px;
}
#learn_more {
  font-weight: 600;
  font-size: 1.2rem;
}

/*
 * Responsive styles
 */
@media (min-device-width: 576px) {
  /* BS X-Small*/
}
@media (min-device-width: 768px) {
  /* BS Small */
}
@media (min-device-width: 992px) {
  /* BS Medium */
  main {
    max-width: 900px;
  }
}
@media (min-device-width: 1200px) {
  /* BS Large */
}
@media (min-device-width: 1400px) {
  /* BS X-Large */
}
