@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
:root {
  --primary-color:#0066FF; /* 0, 102, 255 */
  --secondary-color:#560E8E; /* 86, 14, 142 */
  --tertiary-color: #6BC129; /* 107, 193, 41 */
  --black:#25232C;
  --medium-gray:#6A6972;
  --light-gray:#C1C1C6;
  --white:#F4F4F9;
  --primary-font:'Source Sans Pro', sans-serif;
}
/* Bootstrap Overrides */
.btn {
  line-height:1.5rem;
  font-weight:600;
}
.btn-default {
  background-color:var(--black);
  color:var(--white);
  border:0;
}

/* Begin styles */
html {
  font-size:16px;
}
body {
  font-family:var(--primary-font);
  color:var(--black);
  min-height:100vh;
  background:
  radial-gradient(circle at 50% 5%, 
  rgba(0,102,255,.75), rgba(0,102,255,0) 70%), 
  radial-gradient(circle at 50% 50%, 
  rgba(86,14,142,.75), rgba(86,14,142,0) 90%), 
  radial-gradient(circle at 50% 99%, 
  rgba(107,193,41,.75), rgba(107,193,41,0) 70%);
}
h1, h2, h3, h4, h5, p {
  margin:0;
}
a {
  text-decoration:none;
  color:var(--primary-color);
  font-weight:400;
  border-bottom:1px solid var(--primary-color);
}
ul {
  margin-bottom:0;
}
main {
  background-color:var(--white);
  max-width:90vw;
  min-height:100vh;
  box-shadow:0 0 2px var(--medium-gray);
}
nav {
  background-color:var(--black);
  color:var(--white);
}
nav ul {
  list-style-type:none;
}
nav ul li {
  display:inline-block;
  margin-left:1rem;
}
nav ul li a {
  color:var(--white);
  border-color:var(--white);
}
nav ul li a:hover {
  color:var(--light-gray);
  border-color:var(--light-gray);
  position:relative;
  top:-2px;
}
#form_error {
  color:orangered;
  text-align:center;
}
#map {
  height:200px;
}

/*
 * Responsive styles
 */
 @media (min-device-width:576px) {
  /* BS X-Small*/

}
@media (min-device-width:768px) {
  /* BS Small */

}
@media (min-device-width:992px) {
  /* BS Medium */
  body {
    background:
    radial-gradient(circle at 50% 25%, 
    rgba(0,102,255,.95), rgba(0,102,255,.1) 75%), 
    radial-gradient(circle at 25% 95%, 
    rgba(86,14,142,.75), rgba(86,14,142,.2) 60%), 
    radial-gradient(circle at 95% 95%, 
    rgba(107,193,41,.75), rgba(107,193,41,.3) 60%);
  }
  main {
    max-width:900px;
  }
}
@media (min-device-width:1200px) {
  /* BS Large */

}
@media (min-device-width:1400px) {
  /* BS X-Large */

}