@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
:root {
  --primary-color:#0066FF; /* 0, 102, 255 */
  --secondary-color:#560E8E; /* 86, 14, 142 */
  --tertiary-color: #6BC129; /* 107, 193, 41 */
  --black:#25232C;
  --medium-gray:#6A6972;
  --light-gray:#C1C1C6;
  --white:#F4F4F9;
  --primary-font:'Source Sans Pro', sans-serif;
}
html {
  font-size:16px;
}
body {
  font-family:var(--primary-font);
  color:var(--black);
  background:
  radial-gradient(circle at 50% 5%, 
  rgba(0,102,255,.7), rgba(0,0,255,0) 70.71%), 
  radial-gradient(circle at 5% 95%, 
  rgba(86,14,142,.7), rgba(255,0,0,0) 70.71%), 
  radial-gradient(circle at 95% 95%, 
  rgba(107,193,41,.7), rgba(0,255,0,0) 70.71%);
  min-height:100vh;
}
main {
  background-color:var(--white);
  max-width:900px;
  min-height:100vh;
}
h1, h2, h3, h4, h5, p {
  margin:0;
}